<%#
# $Id: _branches_employees.html.erb 2949 2012-11-09 03:17:44Z ichy $
# Product: hyacc
# Copyright 2009-2012 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<script>
  function add_branch() {
    var table = jQuery('#branches_employees_table');
    var index = table.find('tr').length - 3; // ヘッダと追加の行を引く
    jQuery.get('<%= url_for :action => 'add_branch' %>',
      {index: index}
    );
  }
</script>
<table id="branches_employees_table">
  <tr>
    <th colspan="4">所属部門</th>
  </tr>
  <tr>
    <th>部門</th>
    <th>コスト配分</th>
    <th>デフォルト</th>
    <th>削除</th>
  </tr>

  <% @e.branches_employees.each_with_index do |be, i| %>
    <%= render 'branches_employee_fields', :be=>be, :index=>i %>
  <% end %>

  <tr>
    <td colspan="4" align="right">
      <a href="javascript:add_branch();">部門追加</a>
    </td>
  </tr>
</table>
