<%#
# $Id: _form_receipt.html.erb 3298 2014-01-24 15:36:58Z ichy $
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<div style="margin-left: 5px;">
  <script>
    function delete_receipt(trigger) {
      jQuery.get('<%= url_for :action=>'delete_receipt', :account_code=>@finder.account_code, :id=>@slip.id %>',
      function(html) {
        jQuery(trigger).closest('div').replaceWith(html);
      });
    }
  </script>
  <% if @slip.receipt_path.nil? %>
    領収書 <%= file_field 'slip', 'receipt_file', 'size' => 60 %>
    <%= hidden_field 'slip', 'delete_flag_of_receipt_file' %>
  <% else %>
    領収書あり（<%= link_to "#{File::basename(@slip.receipt_path)}", {:action => 'download_receipt', :id => @slip.id} %>
    &nbsp;&nbsp;
    <input type="button" value="領収書削除" onclick="delete_receipt(this);" />
  <% end %>
</div>
