<% unless @slip.new_record? %>
  <%= text_field 'slip', 'remarks', :class=>'remarksText' %>
<% else %>
  <div>
    <%= text_field 'slip', 'remarks', :class=>'remarksText autocomplete' %>
    <script>
      function get_templates(req, res) {
        var url = '<%= url_for :action => 'get_templates', :id => @slip.id, :account_code => params[:account_code] %>';
        var params = {format: 'json', query: req.term};
        $.getJSON(url, params, function(json) {
          res(json);
        });
      }
      
      function item_selected(event, ui) {
        var item = ui.item;

        $('#slip_account_id').val(item.account_id);
        
        if ($('#slip_sub_account_id').length > 0) {
          replace_options('#slip_sub_account_id', item.sub_accounts);
          $('#slip_sub_account_id').val(item.sub_account_id);
        }
        
        if ($('#slip_branch_id').length > 0) {
          if (item.branch_id) {
            $('#slip_branch_id').val(item.branch_id);
          }
        }

        if ($('#slip_tax_type').length > 0) {
          $('#slip_tax_type').val(item.tax_type);
        }

        if (item.increase_or_decrease == 'increase') {
          $('#slip_amount_increase').val(item.amount);
          $('#slip_tax_amount_increase').val(item.tax_amount);
        } else if (item.increase_or_decrease == 'decrease') {
          $('#slip_amount_decrease').val(item.amount);
          $('#slip_tax_amount_decrease').val(item.tax_amount);
        }
        
        $('#account_detail').html(item.account_detail);

        var form = $('#slip_new_form');
        updateTaxAmountSimple(form, $('#slip_tax_amount_increase').val(), $('#slip_tax_amount_decrease').val());

        var focus = item.focus_on_complete;
        if (focus == 'amount' || focus == 'tax_amount') {
          if (item.increase_or_decrease) {
            focus = focus + '_' + item.increase_or_decrease;
          } else {
            focus = null;  
          }
        }
        
        if (focus) {
          $('#slip_' + focus).focus();
        }
      };

      $(document).ready(function() {
        $('.autocomplete').autocomplete({
          minLength: 2,
          source: get_templates,
          select: item_selected,
        }).data('ui-autocomplete')._renderItem = function(ul, item) {
          var html = '<div>'+ item.remarks + '</div>';
          html += '<div style="float: right; display: inline;">' + item.account_code + ":" + item.account_name + '</div>';
          html += '<br style="clear: both;"/>';
          return $('<li>').append(html).appendTo(ul);
        };
      });
    </script>
  </div>
<% end %>
