<%#
# $Id: _form_remarks.html.erb 3351 2014-02-06 14:09:38Z ichy $
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<% unless @slip.new_record? %>
  <%= text_field 'slip', 'remarks', :class=>'remarksText' %>
<% else %>
  <div id="remarksAutoComplete">
    <%= text_field 'slip', 'remarks', :class=>'remarksText' %>
    <div id="templates"></div>
    <script>
          // 非同期通信用データソース
          var url = '<%= url_for(:action => 'get_templates', :id => @slip.id, :account_code => params[:account_code], :format => 'json') %>';
          var oDS = new YAHOO.util.XHRDataSource(url);
          oDS.responseType = YAHOO.util.XHRDataSource.TYPE_JSON;
          oDS.responseSchema = {
            resultsList : "results",
            fields : ["remarks", "account_id", "account_code", "account_name", "sub_account_id",
              "branch_id", "tax_type", "increase_or_decrease", "amount", "tax_amount",
              "focus_on_complete", "sub_accounts", "account_detail"] 
          };
      
          // オートコンプリートウィジェット
          var oAC = new YAHOO.widget.AutoComplete("slip_remarks", "templates", oDS);
          oAC.useShadow = true;
          oAC.autoHighlight = false;
          oAC.animSpeed = 0.1;
          oAC.generateRequest = function(sQuery) { 
              if (url.endsWith('.json')) {
                return '?query=' + sQuery;
              } else {
                return '&query=' + sQuery ; 
              }
          };
          oAC.formatResult = function(oResultData, sQuery, sResultMatch) {
            var ret = '';
            ret += '<div>'+ oResultData[0] + '</div>';
            ret += '<div style="float: right; display: inline;">' + oResultData[2] + ":" + oResultData[3] + '</div>';
            ret += '<br style="clear: both;"/>';
            return ret;
          };
          oAC.itemSelectEvent.subscribe(function(sType, aArgs) {
            var oData = aArgs[2];
            jQuery('#slip_account_id').val(oData[1]);
            
            if ( document.getElementById('slip_sub_account_id') != null ) {
              replace_options('#slip_sub_account_id', oData[11]);
              jQuery('#slip_sub_account_id').val(oData[4]);
            }
            
            if ( document.getElementById('slip_branch_id') != null) {
              if (oData[5] != null && oData[5] != "") {
                document.getElementById('slip_branch_id').value = oData[5];
              }
            }
  
            if ( document.getElementById('slip_tax_type') != null ) {
              document.getElementById('slip_tax_type').value = oData[6];
            }
  
            var increaseOrDecrease = oData[7];
            if ( increaseOrDecrease == 'increase' ) {
              if ( document.getElementById('slip_amount_increase') != null ) {
                document.getElementById('slip_amount_increase').value = oData[8];
              }
              if ( document.getElementById('slip_tax_amount_increase') != null ) {
                document.getElementById('slip_tax_amount_increase').value = oData[9];
              }
            }
            else if (increaseOrDecrease == 'decrease') {
              if ( document.getElementById('slip_amount_decrease') != null ) {
                document.getElementById('slip_amount_decrease').value = oData[8];
              }
              if ( document.getElementById('slip_tax_amount_decrease') != null ) {
                document.getElementById('slip_tax_amount_decrease').value = oData[9];
              }
            }
            
            document.getElementById('account_detail').innerHTML = oData[12];

            var form = jQuery('#<%= @slip.new_record? ? 'slip_new_form' : 'slip_edit_form' %>');
            updateTaxAmountSimple(form, document.getElementById('slip_tax_amount_increase').value, document.getElementById('slip_tax_amount_decrease').value);
            
            var focus = oData[10];
            if (focus == 'amount' || focus == 'tax_amount') {
              if ( increaseOrDecrease != null ) {
                focus = focus + '_' + increaseOrDecrease;
              }
              else {
                focus = null;  
              }
            }
            
            if (focus != null) {
              jQuery('#slip_' + focus).focus();
            }
          });
    </script>
  </div>
<% end %>
