<div class="messageDiv">
  <%= flash_notice_in_span %>

  <script>
    $(document).ready(function() {
      var message = $('.messageDiv').last();
      var table = message.next();
      message.position({
        my: 'right-20 bottom-5',
        at: 'right top',
        of: table,
        offset: '-5px -1em'
      });
    });
  </script>
</div>
