<div class="messageDiv">
  <%= flash_notice_in_span %>

  <script>
    $(document).ready(function() {
      setTimeout(function() {
        $('.messageDiv').each(function() {
          var table = $(this).next();
          $(this).position({
            my: 'right-20 bottom-5',
            at: 'right top',
            of: table
          });
        });
      }, 0);
    });
  </script>
</div>
