<%#
# $Id: list.html.erb 3329 2014-01-30 12:27:46Z ichy $
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<%= render 'search' %>

<div style="margin: 10px;">
  <%= render 'list' %>
</div>
