  <table>
    <tr>
      <th>年月</th>
      <th>日</th>
      <th>有価証券</th>
      <th>買付</th>
      <th>売却</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<input type="text" class="datepicker" />
<%= link_to '追加', new_investment_path, :class => 'add', :remote => true %>
