<script>
$(function () {
  $("input:radio[name=print\\[type\\]]").change(function() {
    if($(this).val() == '0'){
      $('.secret').hide();
      $('.secret').parent('td').css('background-color','lightgrey');
      
      $(".kana-cell").each(function(){
      const kanaText = $(this).text().trim();
      if (kanaText !== "") {
        const index = $(this).data("member-index");
        const codeCell = $(".code-cell[data-member-index='" + index + "']");
        if (codeCell.text().trim() === "") {
          codeCell.text("00");
        }
      }
    });
    }else{
      $('.secret').show();
      $('.secret').parent('td').css('background-color','transparent');

      $(".code-cell").each(function(){
      if ($(this).text().trim() === "00") {
        $(this).text("");
      }
    });
    }
  });
});
</script>
<div id='print_type' style='margin: 10px;'>
  <%= radio_button 'print', 'type', 1, {:checked => true} %>税務署提出用
  <%= radio_button 'print', 'type', 0, {} %>受給者用
</div>
