<table>
  <tr>
    <th colspan="3">簡易入力設定</th>
  </tr>
  <tr>
    <th>削除</th>
    <th>勘定科目</th>
    <th>ショートカットキー</th>
  </tr>

  <% @profile.simple_slip_settings.each_with_index do |sss, index| %>
    <%= render 'simple_slip_setting_fields', :sss => sss, :index => index %>
  <% end %>

  <tr>
    <td colspan="3" style="text-align: right;">
      <script>
        function add_simple_slip_setting(trigger) {
          var url = '<%= url_for :action => 'add_simple_slip_setting' %>';
          var params = {
            index: $(trigger).closest('table').find('tr').length,
            format: 'html'
          };

          $.get(url, params, function(html) {
            $(trigger).before(html);
          });
        }
      </script>
      <%= link_to_function '勘定科目追加', 'add_simple_slip_setting(this);' %>
    </td>
  </tr>
</table>
