<table class="simple_slip_settings">
  <thead>
    <tr>
      <th colspan="3">簡易入力設定</th>
    </tr>
    <tr>
      <th>削除</th>
      <th>勘定科目</th>
      <th>ショートカットキー</th>
    </tr>
  </thead>

  <tbody>
    <% @profile.simple_slip_settings.each_with_index do |sss, i| %>
      <%= render 'simple_slip_setting_fields', :sss => sss, :index => i %>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="3" style="text-align: right;">
        <%= link_to '勘定科目追加', {:action => 'add_simple_slip_setting'},
                :onclick => 'simple_slip_settings.add_simple_slip_setting(this); return false;' %>
      </td>
    </tr>
  </tfoot>
</table>
