<%#
# $Id: _search.html.erb 2956 2012-11-09 07:22:31Z ichy $
# Product: hyacc
# Copyright 2009-2012 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<%= form_tag( {:action=> controller.action_name }, {:method=>"get"} ) do %>
<table class="none_border" cellpadding="3">
  <tr>
    <td class="none_border"><%= select('finder', 'year', @ym_list ) %>年６月〜翌年５月</td>
    <td class="none_border"><%= submit_tag "表示" %></td>
  </tr>
</table>
<% end %>