*.rbc
*.sassc
*.~lock.*
.sass-cache
capybara-*.html
.project
.rspec
.rvmrc
/.buildpath
/.bundle
/.byebug_history
/.settings/
/coverage/
/db/*.sqlite3
/node_modules
/vendor/bundle
/log/*
/test/reports
/tmp/*
/public/system/*
/public/coverage/*
/spec/tmp/*
/yarn-error.log
**.orig
rerun.txt
pickle-email-*.html
