language: ruby
cache: bundler
rvm:
  - 2.1.0
  - 2.0.0
before_script:
  - cp -f travis/database.yml config/
  - bundle exec rake dad:db:create NO_ROOT_PASSWORD=true
  - bundle exec rake db:schema:load

