<div class="search">
  <%= form_tag({:action => 'index'}, :method => 'get') do %>
    年度：<%= select 'finder', 'fiscal_year', calendar_years %>
    部門：<%= collection_select('finder', 'branch_id', finder.branches, 'id', 'name', :include_blank => true) %>
    <%= submit_tag '表示' %>
  <% end %>
</div>
