<div style="margin: 15px;">
  <%= form_tag({:action => 'index'}, :method => 'get') do %>
    <label>勘定科目区分：<%= select('finder', 'account_type', finder.account_types) %></label>
    <label>リーフのみ表示：<%= check_box 'finder', 'leaf_only' %></label>
    <%= submit_tag "表示" %>
  <% end %>
</div>