<script>
  function add_sub_account(trigger) {
    var params = {
      index: $(trigger).closest('table').find('tr').length,
      format: 'html'
    };
    $.get('<%= url_for :action => 'add_sub_account' %>', params, function(html) {
      $(trigger).closest('tr').before(html);
    });
  }
</script>
<table>
  <tr>
    <th>コード</th>
    <th>補助科目名</th>
    <th>状態</th>
  </tr>
  
  <% @account.sub_accounts_all.each_with_index do |sa, i| %>
    <%= render 'sub_account_fields', :sub_account => sa, :index => i %>
  <% end %>
  
  <tr>
    <td colspan="4" style="text-align: right;">
      <%= link_to '追加', '#', :onclick => 'add_sub_account(this); return false;' %>
    </td>
  </tr>
</table>