<div>
  <div class="text-center">
    <span class="mx-4"><strong><%= to_wareki(@finder.start_day) %>　事業年度分の法人税確定　確定申告書</strong></span>
  </div>
  <div class="text-center">
    <span class="mx-4"><strong><%= to_wareki(@finder.end_day) %>　課税事業年度分の地方法人税　確定申告書</strong></span>
  </div>
</div>

<table class="m-2 table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td colspan="2"></td>
    </tr>
  </tbody>
</table>

<div class="m2">
  <span>この申告書に係る通知等がある場合、e-Taxによる通知を希望します。（ □ 加算税 □ 還付金振込 ）</span>
</div>