<div style="margin: 20px;">
  <%= form_tag({:action => 'index'}, :method => 'get') do %>
    <table class="none_border" cellpadding="3">
      <tr>
        <td class="none_border">年月：<%= text_field 'finder', 'ym', :class => 'ympicker' %></td>
        <td class="none_border">社会保険料控除後の給与：<%= text_field 'finder', 'after_deduction', :maxlength => 10 %></td>
        <td class="none_border"><%= submit_tag "表示" %></td>
      </tr>
    </table>
  <% end %>
</div>
