.linkWithoutUnderscore { 
    text-decoration: none; 
} 

.subAccountRowHeader {
	clear: left;
}

.subAccountRowHeader .code {
	float: left;
	width: 100px;
  background-color: lightgrey;
}

.subAccountRowHeader .name {
	float: left;
	width: 150px;
  background-color: lightgrey;
}

.subAccountRow {
	clear: left;
}

.subAccountRow .code {
	float: left;
	width: 100px;
}

.subAccountRow .name {
	float: left;
	width: 150px;
}

.accountTree {
    list-style-type: none;
}
