.branch {
  width: 340px;

  table.table {
    th {
      width: 1%;
      white-space: nowrap;
    }
  }

  table {
    tr.code {
      td {
        min-width: 4em;
      }
    }
    tr.name {
      td {
        min-width: 8em;
      }
    }
  }
}