html, body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  &:link {
    color: #000000;
  }

  &:visited {
    color: #000000;
  }
}

a.selected {
  font-weight: bold;

  &:link {
    color: #4682B4;
  }

  &:visited {
    color: #4682B4;
  }
}

input[type="text"], select {
  background: #FFFAFA;

  &:disabled {
    background: #EEEEEE;
  }
}

input[type="file"] {
  width: 36em;
}

.nowrap {
  white-space: nowrap;
}
