html, body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  &:link {
    color: #000000;
  }

  &:visited {
    color: #000000;
  }
}

a.selected {
  font-weight: bold;

  &:link {
    color: #4682B4;
  }

  &:visited {
    color: #4682B4;
  }
}

a.input-group-text {
  text-decoration: none;
}

input[type="text"], input[type="password"], select, select.form-select {
  background: #FFFAFA;

  &:disabled {
    background: #EEEEEE;
  }
  &.readonly-as-disabled {
    background: #EEEEEE;
  }
}

input[type="file"] {
  width: 36em;
}

.center {
  text-align: center;
}

.justify {
  display: flex;
  justify-content: space-between;
}

.left {
  text-align: left;
}

.nowrap {
  white-space: nowrap;
}

.right {
  text-align: right;
}
