html, body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a { color: #000000; }
a:visited { color: #000000; }
a:hover { color: #FFFFFF; background: #000000; }

.selected {
  font-weight: bold;
  color: slateblue;

  &:visited {
    color: slateblue;
  }
}

a.selected {
  &:hover {
    color: #FFFFFF;
    background: #000000;
  }
}