.header {
  margin: 0px 0px 5px 0px;
  padding: 2px;
  background-color: #d3d4d5;
  border-color: grey;
  border-style: solid;
  border-width: 1px 0px 1px 0px;

  a {
    text-decoration: none;
  }
  
  .logo {
    float: left;
    margin: 0 10px 0 5px;
  }
}
