html, body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #fff; background: #000; }

a.add {
  margin: 10px 20px;
}

input, select {
  background: #FFFAFA;

  &:disabled {
    background: #EEEEEE;
  }
}

input[type="file"] {
  width: 36em;
}

button, input[type="button"], input[type="submit"] {
  background: ButtonFace;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

table {
  border: 1px solid grey;
  border-collapse: collapse;

  caption {
    text-align: left;
  }

  tr {
    height: 20px;

    &.hover:hover {
      background: #EEEEEE;
    }

    th, td {
      border: 1px solid grey;
      border-collapse: collapse;
      empty-cells: show;
      margin: 0;
      padding: 0.1em 0.2em;
      vertical-align: middle;
    }

    th {
      background: #D3D3D3;
    }
  }
}

.action {
  width: 3em;
  text-align: center;
}

.content {
  margin: 10px;
}

.dialog_wrapper {
  margin-top: 0.5em;
}

.error {
  color: red;
}

.notice {
  color: green;
}

.menu {
  margin: 0px 10px 10px 10px;
}

.none_border {
  border: 0px;
  border-collapse: collapse;
  empty-cells: show;
}

.subMenu {
  margin: 10px;
}

.main {
  margin: 10px;
}

.tr_emphasized {
  background-color: #CCEEFF;
}

#bsContainer {
  margin: 10px;
}

#notice {
  width: 400px;
  height: 20px;
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 1px;
}

#plContainer {
  margin: 10px;
}

.yearMonth {
  width: 4em;
  height: 1em;
  text-align: center;
  vertical-align: middle;
}

.yearMonthText {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 0;
  margin: 0;
}

.socialExpenseNumberOfPeopleText {
  width: 30px;
  height: 20px;
  text-align: center;
}

.sharesText {
  width: 100px;
  height: 20px;
  text-align: center;
}

.codeText {
  width: 40px;
  height: 20px;
  text-align: center;
}

.nameText {
  width: 150px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.noteText {
  width: 20em;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.day,
.month,
.year {
  width: 2em;
  height: 1em;
  text-align: center;
  vertical-align: middle;
}
.year {
  width: 4em;
}

.dayText {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
}

.durableYearsText {
  width: 30px;
  height: 22px;
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 0;
  margin: 0;
}

.slipType {
  width: 80px;
  height: 22px;
  text-align: center;
  vertical-align: middle;
}

.remarks {
  width: 18em;
  height: 22px;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}

.remarksText {
  width: 100%;
  height: 20px;
  vertical-align: middle;
  border: none;
  padding: 0;
  margin: 0;
}

.accountName {
  width: 12em;
  height: 22px;
  text-align: left;
  vertical-align: middle;
}

th.accountName {
  text-align: center;
}

.accountSelect {
  width: 100%;
  height: 20px;
  border: none;
  padding: 0;
  margin: 0;
}

.depreciationMethodSelect {
  width: 110px;
  height: 20px;
  border: none;
  padding: 0;
  margin: 0;
}

.focusOnCompleteSelect {
  height: 20px;
  border: none;
  padding: 0;
  margin: 0;
}

.branchName {
  width: 5em;
  height: 1em;
  text-align: center;
  vertical-align: middle;
}

.branchSelect {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.subAccountName {
  width: 6em;
  height: 22px;
  text-align: center;
  vertical-align: middle;
}

.subAccountSelect {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

input[name*="\[account_count_of_frequencies\]"],
input[name*="\[slips_per_page\]"] {
  text-align: center;
  width: 4em;
}

.dcTypeSelect {
  width: 100%;
  height: 20px;
  border: none;
  padding: 0;
  margin: 0;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.amount,
.amount_credit,
.amount_debit,
.amountDecrease,
.amountIncrease {
  width: 7em;
  height: 1em;
  text-align: right;
  vertical-align: middle;
}

.taxAmount {
  width: 6em;
  height: 1em;
  text-align: right;
  vertical-align: middle;
}

th.amount,
th.amountDecrease,
th.amountIncrease {
  text-align: center;
}

th.taxAmount {
  text-align: center;
}

.amountMonthlySum {
  width: 80px;
  height: 22px;
  text-align: right;
  vertical-align: middle;
}

.amountSum {
  width: 8em;
  height: 22px;
  text-align: right;
  vertical-align: middle;
}

th.amountSum {
  text-align: center;
}

.mark {
  width: 30px;
  height: 22px;
  text-align: center;
  vertical-align: middle;
}

.amountText {
  width: 100%;
  height: 100%;
  text-align: right;
  border: none;
}

.taxRatePercentText {
  width: 2em;
  height: 100%;
  border: none;
  text-align: center;
}

.taxTypeSelect {
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.amountDebit {
  width: 80px;
  height: 22px;
  text-align: right;
}

.amountCredit {
  width: 80px;
  height: 22px;
  text-align: right;
}

.submit {
  height: 22px;
}

#ledgerContainer {
  margin: 10px;
  border-collapse: collapse;
  border-color: gray;
}

#ledgerContainer td {
  padding: 2px;
}

.showCareers .employee {
  white-space: nowrap;
  text-align: left;
}

.showCareers .yearsOfCareer {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

.showCareers .description {
  width: 50%;
  vertical-align: top;
  white-space: nowrap;
}

.showCareers .subInfo {
  vertical-align: top;
  white-space: nowrap;
}

.showCareers .skill {
  width: 10%;
  vertical-align: top;
  white-space: nowrap;
}

.messageDiv {
  width: 500px;
  height: 1em;
  padding-bottom: 0.2em;
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 1px;
}
