#journal_form {
  table {
    margin-top: 10px;

    &:last-child {
      margin-bottom: 5px;
    }
  }
}

.receipt {
  width: 36em;
}

.journalTable {
  th, td {
    border: 1px solid grey;
  }

  .amountText {
    height: 20px !important;
  }
}
