#payroll_header_table {
  align: center;
  cellpadding: 3px;
  margin-bottom: 10px;
  border: solid 1px;
}

#payroll_table {
  margin-bottom: 10px;  
}

.payroll_form {
  input[type="text"][readonly] {
    background-color: lightgrey;
  }
}
