#payroll_header_table {
  margin-bottom: 10px;

  th, td {
    border: solid 1px;
    padding: 0.2em 0.4em;
    min-width: 6em;
  }

  th {
    background-color: #e2e6ea;
  }
}

#payroll_table {
  margin-bottom: 10px;
  white-space: nowrap;

  th {
    padding: 0.2em 0.4em;
    text-align: center;
  }
  td {
    padding: 0.2em 0.4em;
    min-width: 5em;
  }
  td.vertical-writing {
    min-width: 1em;
    text-align: center;
  }
}
