.profit_and_capital {
  vertical-align: middle !important;

  div {
    width: 50%;
    display: inline-block;

    &:last-child {
      text-align: right;
    }
  }
}

.diagonal-line {
  background-image: linear-gradient(to left top, 
  transparent calc(50% - 0.5px),
  #999 calc(50% + 0.5px),
  transparent calc(50% + 1px));
}