.target_account_info {
  margin: 0px 10px 0px 10px;
}

.account_detail {
  input[name*="\[social_expense_number_of_people\]"] {
    text-align: center;
  }
}

#new_simple_slip {
  margin: 10px;
}

#slipTable {
  margin: 10px;
}

.slipTable {
  th, td {
    border: 1px solid grey;
    border-collapse: collapse;
  }

  tr.cashRow {
    th, td {
      padding: 0.2em 0.4em;
    }
  }

  .branchSelect,
  .yearMonthText,
  .amountText {
    height: 20px;
  }
}
