tr.item, td.item {
  background-color: lightgrey;
  font-size: x-small;
  text-align: center;
}

.withholding_detail_table {
  margin-bottom: 10px;

  th {
    border: solid 1px;
    padding: 0.2em 0.4em;
    text-align: center;
  }
  td {
    border: solid 1px;
    padding: 0.2em 0.4em;
  }
}

.td-with-label {
  position: relative;
  vertical-align: bottom;
}

.td-with-label .label-top-right {
  position: absolute;
  top: 0.2em;
  right: 0.3em;
  font-size: 0.7em;
}

@media print{
  #print_type {
    display:none;
  }
}