<div>
  <div class="div_th_yyyymm" style="height: 3.2em; border-width: 1px;">適用開始<br/>年月</div>
  <div class="div_th_yyyymm" style="height:3.2em;">適用終了<br/>年月</div>
  <div class="div_th_grade" style="height:3.2em;">等級</div>
  <div class="div_th_money10" style="height:3.2em;">標準報酬<br/>月額</div>
  <div class="div_th_money10" style="height:3.2em;">標準報酬<br/>日額</div>
  <div class="div_th_money10" style="height:3.2em;">報酬月額範囲<br/>（以上）</div>
  <div class="div_th_money10" style="height:3.2em;">報酬月額範囲<br/>（未満）</div>
  <div class="div_th_money10" style="height:3.2em;">健康保険料<br/>全額</div>
  <div class="div_th_money10" style="height:3.2em;">健康保険料<br/>折半額</div>
  <div class="div_th_money20" style="height:3.2em;">健康保険料<br/>全額（介護保険２号）</div>
  <div class="div_th_money20" style="height:3.2em;">健康保険料<br/>折半額（介護保険２号）</div>
  <br clear="all" />
</div>
<% @list.each do |data| %>
  <%= render 'line', :data => data %>
<% end %>
