<%#
# $Id: check_customer_exists.html.erb 2974 2012-12-21 06:43:35Z ichy $
# Product: hyacc
# Copyright 2009-2012 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<div style="margin: 10px;">
  <div>地代家賃の設定には取引先の登録が必要です。</div>
  <div><%= link_to '取引先管理へ', :controller=>'customers' %></div>
</div>
