<%= form_tag({action: controller.action_name}, method: 'get', class: 'row align-items-center') do %>
  <div class="col-auto">
    <div class="input-group">
      <%= select('finder', 'year', calendar_years, {}, class: 'form-select') %>
      <div class="input-group-text">年6月〜翌年5月</div>
    </div>
  </div>
  <div class="col-auto">
    <%= submit_tag '表示', class: 'btn btn-light' %>
  </div>
<% end %>
