<%= form_tag({action: controller.action_name }, method: 'get') do %>
  <table class="none_border" cellpadding="3">
    <tr>
      <td class="none_border"><%= select('finder', 'year', calendar_years) %>年6月〜翌年5月</td>
      <td class="none_border"><%= submit_tag "表示" %></td>
    </tr>
  </table>
<% end %>
