<%= flash_notice %>
<script>
  var data = [
    <% current_company.branches.where(:parent => nil, :deleted => false).each do |b| %>
      <%= convert_branch_to_json(b) %>,
    <% end %>
  ];

  $(document).ready(function() {
    $('#branch_tree').tree({
      data: data,
      selectable: false,
      saveState: 'branch_tree',
      autoEscape: false,
      dragAndDrop: false,
    });
  });
</script>
<div id="branch_tree"></div>
