<%#
# $Id: ready.html.erb 2953 2012-11-09 05:39:39Z ichy $
# Product: hyacc
# Copyright 2009-2012 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<div style="text-align: center; margin:20px;">
  設定が完了しました。
  <br/>
  <%= link_to 'ログイン画面へ', {:controller=>'login'} %>
</div>
