<br />
<div  style="margin: 10px;">
    <table class="none_border" width="900">
      <tr>
        <td class="none_border" align="center"><b><%= Gengou.to_wareki(@data.calendar_year) %>年分　給与所得・退職所得等の所得税徴収高計算書</b></td>
      </tr>
    </table>
</div>
