<table>
  <tr>
    <th>正式名称</th>
    <th>略称</th>
    <th>有効開始日</th>
    <th></th>
  </tr>

  <% customer.customer_names.each_with_index do |cn, i| %>
    <%= render 'customer_name_fields', :cn => cn, :index => i %>
  <% end %>

  <tr>
    <td colspan="4" align="right">
      <%= link_to '追加', {:action => 'add_customer_name'}, :onclick => 'customers.add_customer_name(this); return false;' %>
    </td>
  </tr>
</table>
