<div class="m-2 row">
  <span class="col-md-12">第4-(9)号様式</span>
</div>
<div class="m-2 row">
  <span class="col-md-11">付表1-3 税率別消費税額計算表　兼　地方消費税の課税標準となる消費税額計算表</span>
  <span class="col-md-1 text-center border">一般</span>
</div>
