<%#
# $Id: index.html.erb 3113 2013-08-06 04:01:04Z ichy $
# Product: hyacc
# Copyright 2009-2013 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<div style="margin: 20px;">
  <%= error_messages_for :insurance if @list %>
</div>
<div style="margin: 20px;">
  <%= render 'search' %>
</div>
<div style="margin: 20px;">
  <%= render 'list' if @list %>
</div>
