<div id="search" class="mt-4 mb-2">
  <%= form_tag({action: 'index'}, method: 'get', class: 'form-inline') do %>
    <span class="mx-2">摘要：<%= text_field 'finder', 'remarks', size: 25, maxlength: 250, class: 'form-control' %></span>
    <span class="mx-2">勘定科目：<%= collection_select_code_and_name(:finder, :account_id, finder.accounts, :id, :name, {include_blank: true}, class: 'form-control') %></span>
    <%= submit_tag "表示", class: 'btn btn-light' %>
  <% end %>
</div>