<div id="search" style="margin: 15px;">
  <%= form_tag({action: 'index'}, method: 'get') do %>
    摘要：<%= text_field 'finder', 'remarks', size: 25, maxlength: 250 %>
    勘定科目：<%= collection_select_code_and_name(:finder, :account_id, finder.accounts, :id, :name, include_blank: true) %>
    <%= submit_tag "表示" %>
  <% end %>
</div>