<%= render 'search' %>

<% if @templates.empty? %>
  <div style="margin: 10px">登録されているテンプレートはありません。</div>
<% else %>
  <%= render 'index' %>
<% end %>

<%= will_paginate @templates if @templates.present? %>
<%= link_to '追加', {action: 'new'}, class: 'btn btn-light add', remote: true %>
