<div style="margin: 20px;">
  <%= form_tag({:action => 'index'}, :method => 'get') do %>
    年度：<%= select('finder', 'fiscal_year', @ym_list ) %>
    計上部門：<%= select('finder', 'branch_id', to_options( @branches ), :include_blank => false ) %>
    <%= submit_tag "表示" %>
  <% end %>
</div>