<%#
# $Id: _list.html.erb 2984 2013-02-11 05:42:27Z ichy $
# Product: hyacc
# Copyright 2009-2013 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<div style="width:1060px;">
<div class="div_th_yyyymm" style="height:50px;">適用開始年月</div>
<div class="div_th_yyyymm" style="height:50px;">適用終了年月</div>
<div class="div_th_money10" style="height:50px;font-size:9px;">社会保険料控除後の<br/>給与範囲（以上）</div>
<div class="div_th_money10" style="height:50px;font-size:9px;">社会保険料控除後の<br/>給与範囲（未満）</div>
<div class="div_th_money" style="height:50px;">扶養親族<br/>０人</div>
<div class="div_th_money" style="height:50px;">扶養親族<br/>１人</div>
<div class="div_th_money" style="height:50px;">扶養親族<br/>２人</div>
<div class="div_th_money" style="height:50px;">扶養親族<br/>３人</div>
<div class="div_th_money" style="height:50px;">扶養親族<br/>４人</div>
<div class="div_th_money" style="height:50px;">扶養親族<br/>５人</div>
<div class="div_th_money" style="height:50px;">扶養親族<br/>６人</div>
<div class="div_th_money" style="height:50px;">扶養親族<br/>７人</div>
<div class="div_th_link" style="height:50px;"></div>
<br clear="all" />
<% for data in @list %>
  <div id="data_<%= data.id %>">
    <%= render 'line', :data => data %>
  </div>
  <br clear="all" />
<% end %>
</div>