<div  style="margin: 20px;">
  <%= render 'search' %>
</div>
<div  style="margin: 20px;"> 
  <%= link_to '一括登録', new_withheld_tax_path %>
</div>
<div  style="margin: 20px;"> 
  <%= render 'list' if @list %>
</div>
