<tr>
  <td colspan="<%= branch_mode ? 8 : 7 %>"></td>
  <td align="center" colspan="2">
    <script>
      function add_journal_detail(trigger) {
        var tbody = $(trigger).closest('table').find('tbody');

        var params = {
          index: tbody.find('tr').length / 4,
          format: 'html'
        }

        $.get('<%= url_for :action => 'add_detail' %>', params, function(html) {
          tbody.append(html);
        });
      }
    </script>
    <%= link_to '明細追加', '#', :onclick => 'add_journal_detail(this); return false;' %>
  </td>
</tr>
