<%
  prefix = "journal[journal_details_attributes[#{index}]]"
%>
<%= fields_for prefix, jd do |f| %>
  <span id="jd_<%= index %>_allocation">
    <% if jd.allocatable? %>
      <label><%= f.check_box :is_allocated_cost %> <%= jd.account.account_type_name %>配賦</label>
    <% end %>
  </span>
<% end %>
