<% if @employees.present? %>
  <div class="input-group">
    <div class="input-group-text">従業員</div>
    <%= collection_select 'finder', 'employee_id', @employees, 'id', 'name', {}, class: 'form-select' %>
  </div>
<% end %>
