<tr id="add_bank_office">
  <td colspan="4" align="right">
    <script>
      function add_bank_office() {
        var index = $('#add_bank_office_index');
        $.get('<%= add_bank_office_bank_offices_path %>',
          { index: index.val() },
          function() {
            index.val(parseInt(index.val()) + 1);
          }
        );
      }
    </script>
    <input type="hidden" id="add_bank_office_index" value="<%= @bank.bank_offices.size %>" />
    <%= link_to '追加', '#', :onclick => 'add_bank_office(); return false;' %>
  </td>
</tr>
