<% if flash.present? %>
  <%= flash_notice %>
<% else %>
  <div>ロード中...</div>
<% end %>

<script>
  $(document).ready(function() {
    setTimeout(function() {
      if (window.parent) {
        window.parent.location.reload();
      } else {
        window.location.reload();
      }
    }, 1000);
  });
</script>
