<%= radio_button 'finder', 'slip_type_selection', 1, class: 'mr-1' %><label for="finder_slip_type_selection_1" class="mr-4">一般振替</label>
<%= radio_button 'finder', 'slip_type_selection', 2, class: 'mr-1' %><label for="finder_slip_type_selection_2" class="mr-4">一般振替と簡易入力</label>
<%= radio_button 'finder', 'slip_type_selection', 3, class: 'mr-1' %><label for="finder_slip_type_selection_3" class="mr-4">自動振替を除くすべて</label>
<%= radio_button 'finder', 'slip_type_selection', 4, class: 'mr-1' %><label for="finder_slip_type_selection_4" class="mr-4">すべて</label>
