<%#
# $Id: _slip_type_selection.html.erb 2941 2012-10-19 07:00:13Z ichy $
# Product: hyacc
# Copyright 2009-2012 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<%= radio_button 'finder', 'slip_type_selection', 1 %><label for="finder_slip_type_selection_1">一般振替</label>
<%= radio_button 'finder', 'slip_type_selection', 2 %><label for="finder_slip_type_selection_2">一般振替と簡易入力</label>
<%= radio_button 'finder', 'slip_type_selection', 3 %><label for="finder_slip_type_selection_3">自動振替を除くすべて</label>
<%= radio_button 'finder', 'slip_type_selection', 4 %><label for="finder_slip_type_selection_4">すべて</label>
