<% if controllers.include?(controller_path) %>
  <div class="subMenu">
    <% show_separator = false %>
    <% controllers.each_with_index {|c, index| %>
      <% next if index == 0 %>
      <% next unless available?(c) %>

      <% if show_separator %>
      |
      <% end %>

      <%= link_to t("title.#{c}"), {controller: '/' + c}, class: style_for_menu(c) %>
      <% show_separator = true %>
    <% } %>
  </div>
<% end %>
