<%#
# $Id: _title.html.erb 2941 2012-10-19 07:00:13Z ichy $
# Product: hyacc
# Copyright 2009-2012 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<title><%= @title %>: <%= defined?(action_name) ? action_name : controller.action_name %></title>
