<%#
# $Id: sub_accounts_required.html.erb 2329 2010-11-10 04:38:11Z ichy $
# Product: hyacc
# Copyright 2011-2012 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<div style="margin:10px;">
  <div>
    金融機関が登録されていません。
  </div>
  
  <div>
    <%= link_to '金融機関管理へ', :controller=>'banks' %>
  </div>
</div>
