<script>
  function add_branch(trigger) {
    var table = $(trigger).closest('table');
    var params = {
      index: table.find('tbody tr').length,
      format: 'html'
    };

    $.get('<%= url_for :action => 'add_branch' %>', params, function(html) {
      table.find('tbody').append(html);
    });
  }
</script>
<table id="branch_employees_table" class="table">
  <thead>
    <tr>
      <th>所属部門</th>
      <th>デフォルト</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @e.branch_employees.each_with_index do |be, i| %>
      <%= render 'branch_employee_fields', be: be, index: i %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="right">
        <%= link_to '部門追加', '', onclick: "add_branch(this); return false;", class: 'btn btn-small btn-light' %>
      </td>
    </tr>
  </tfoot>
</table>
