<div class="num_of_dependents" title="扶養親族">
  <table>
    <thead>
      <tr>
        <th>有効開始日</th>
        <th>扶養親族の数</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @e.num_of_dependents.each_with_index do |nod, i| %>
        <%= render 'num_of_dependent_fields', :nod => nod, :index => i %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" align="right">
          <%= link_to '追加', {:action => 'new_num_of_dependent'}, :onclick => 'employee.add_num_of_dependent(this); return false;' %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
