<div class="search">
  <%= form_with scope: :finder, method: 'get', local: true, html: {class: 'row'} do |f| %>
    <div class="col-auto">
      <div class="input-group">
        <div class="input-group-text">状態</div>
        <%= select('finder', 'disabled', @finder.disabled_types, {include_blank: true}, class: 'form-select') %>
      </div>
    </div>
    <div class="col-auto">
      <%= f.submit '表示', class: 'btn btn-light' %>
    </div>
  <% end %>
</div>
