<%#
# $Id: edit.html.erb 2895 2012-07-20 07:27:42Z ichy $
# Product: hyacc
# Copyright 2009-2012 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<div style="margin: 10px;">
  <%= render 'form' %>
</div>

<div style="margin: 10px;">
  <%= link_to '参照', account_path(@account) %>
</div>
