<script>
  var data = [
    <% @accounts.each do |a| %>
      <%= convert_to_json(a) %>,
    <% end %>
  ];
  
  $(document).ready(function() {
    $('#account_tree').tree(
      {
        data: data,
        saveState: 'account_tree',
        autoEscape: false,
        dragAndDrop: true,
      }
    );
    
    $('#account_tree').bind('tree.move', function(event) {
      $.post('<%= url_for :action => 'update_tree' %>', {
        moved: event.move_info.moved_node.id,
        target: event.move_info.target_node.id,
        position: event.move_info.position
      });
    });
  });
</script>
<div id="account_tree" style="margin-left: 20px; display: inline-block;"></div>
