<%#
# $Id: new.html.erb 3177 2014-01-15 03:53:43Z ichy $
# Product: hyacc
# Copyright 2009-2014 by Hybitz.co.ltd
# ALL Rights Reserved.
%>
<h1>勘定科目登録</h1>

<div style="margin: 10px;">
  <%= render 'form' %>
</div>
